Clase15-xsd/Ejemplo1/nota.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Primero hacemos una declaración XML 
 y luego una declaración schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- ComplexType es necesario si el elemento tiene hijos. -->
    <xs:element name="nota">
        <xs:complexType>
            <xs:sequence> <!-- Con sequence importa el orden. -->
                <xs:element name="de" type="xs:string"/>
                <xs:element name="para" type="xs:string"/>
                <xs:element name="asunto" type="xs:string"/>
                <xs:element name="cuerpo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>