ProyectoNoviembre/Ejercicio2/Ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cursos"/>
                <xs:element ref="alumnos"/>
                <xs:element ref="matriculas"/>
                <xs:element ref="evaluaciones"/>
            </xs:sequence>
            <xs:attribute name="fecha_publicacion" type="xs:date" use="required"/>
        </xs:complexType>
        
    </xs:element>

    <!-- Elementos de Cursos-->
    <xs:element name="cursos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="curso" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="curso">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="nivel" type="xs:string"/>
                <xs:element name="modalidad" type="xs:string"/>
                <xs:element name="horas" type="xs:integer"/>
                <xs:element ref="modulos" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="codigo" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="modulos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="modulo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="modulo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="horas" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="clave" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>

    <!-- Elementos de alumnos-->
     <xs:element name="alumnos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="alumno" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
     </xs:element>

     <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="email" type="tipoEmail"/>
                <xs:element name="telefono" type="tipoTelefono" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="nif" type="tipoNif" use="optional"/>
        </xs:complexType>
     </xs:element>

     <xs:simpleType name="tipoEmail">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
        </xs:restriction>
     </xs:simpleType>

     <xs:simpleType name="tipoTelefono">
        <xs:restriction base="xs:string">
            <xs:pattern value="[6789][0-9]{8}"/>
        </xs:restriction>
     </xs:simpleType>

     <xs:simpleType name="tipoNif">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}[A-Z]"></xs:pattern>
        </xs:restriction>
     </xs:simpleType>

     <!-- Elementos de Matriculas-->
      <xs:element name="matriculas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="matricula" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="matricula">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fecha_alta" type="xs:date"/>
                <xs:element name="estado" type="tipoEstado"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="alumnoRef" type="xs:IDREF" use="required"/>
            <xs:attribute name="cursoRef" type="xs:IDREF" use="required"/>
        </xs:complexType>
      </xs:element>

      <xs:simpleType name="tipoEstado">
        <xs:restriction base="xs:string">
            <xs:enumeration value="activa"/>
            <xs:enumeration value="pendiente"/>
            <xs:enumeration value="cancelada"/>
        </xs:restriction>
      </xs:simpleType>

      <!-- Elementos de Evaluaciones-->
       <xs:element name="evaluaciones">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="evaluacion" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
       </xs:element>

       <xs:element name="evaluacion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="instrumento" type="xs:string"/>
                <xs:element name="nota" type="tipoNota"/>
                <xs:element name="convocatoria" type="xs:integer"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
            <xs:attribute name="matriculaRef" type="xs:IDREF" use="required"></xs:attribute>
        </xs:complexType>
       </xs:element>

       <xs:simpleType name="tipoNota">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxExclusive value="11"/>
        </xs:restriction>
       </xs:simpleType>

</xs:schema>